@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Segoe UI', sans-serif;
}

/* Full-width header with Tailwind background */
.custom-ant-table .ant-table-thead > tr > th {
  @apply bg-bg-blue-12 text-white text-center font-bold;

}
.custom-ant-table .ant-table,
.custom-ant-table .ant-table-container {
    border: none;
  

    
  
}