name: CICD

on:
  push:
    branches:
      - harshpatel

jobs:
  build-and-deploy:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm install
      - name: Build Next.js app
        run: npm run build
      - name: Remove node_modules
        run: rm -rf node_modules
      - name: Genrate Deployment Package
        run: zip -r nodejs-app-build.zip .
      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: 'it_crm'
          environment_name: 'Itcrm-env'
          version_label: ${{ github.sha }}
          region: ap-south-1
          deployment_package: nodejs-app-build.zip
